body{
    background: url('images/AtariAmino.gif');
    background-size:100% 100%;
    height:100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

div {
    border-radius: 100%;
    height: 150px;
    width: 150px;
}

div#Silver {
    
    border: 3px solid gold;
    background: silver;
}

div#Gold {
    
    border: 5px solid silver;
    background: gold;
}

div#Crystal {
 
    border: 10px solid silver;
    background: #33ffff;
}